
((digest . "b89fe12ff00fae8c8862d85ffffc0808") (undo-list nil (47 . 56) nil (47 . 54) nil (">" . -47) nil (43 . 48) nil (42 . 43) (t 22220 32032 0 0) nil ("    " . -42) ((marker) . -1) (42 . 46) ("	" . -42) (50 . 51) 39 nil (35 . 39) nil ("r" . -35) nil ("a" . -36) nil ("p" . -37) nil (35 . 38) nil (38 . 39) ("	" . 38) (38 . 39) (37 . 39) nil (36 . 43) nil (33 . 36) nil ("-" . -33) ((marker . 71) . -1) nil (33 . 34) nil (28 . 33) ("cla" . -28) ((marker*) . 3) nil (23 . 31) nil (" " . -23) nil (23 . 24) nil ("＜" . -23) ((marker . 71) . -1) (23 . 24) (t 22220 31770 0 0) nil ("
" . -23) ((marker . 71) . -1) nil ("aaa
" . 24) ((marker . 71) . -4) (t 22220 31765 0 0) nil (24 . 27) nil (23 . 24) nil ("s" . -23) ((marker . 23) . -1) ((marker . 23) . -1) nil ("a" . -24) ((marker . 23) . -1) ((marker . 23) . -1) nil ("m" . -25) ((marker . 23) . -1) ((marker . 23) . -1) nil ("p" . -26) ((marker . 23) . -1) ((marker . 23) . -1) nil ("l" . -27) ((marker . 23) . -1) ((marker . 23) . -1) nil ("e" . -28) ((marker . 23) . -1) ((marker . 23) . -1) (t 22220 31698 0 0) nil (29 . 30) nil (23 . 29) (t 22220 30047 0 0) nil ("
" . -23) ((marker . 71) . -1) ((marker . 23) . -1) ((marker . 23) . -1) ((marker . 23) . -1) ((marker . 23) . -1) ((marker . 23) . -1) nil ("</div>
" . 24) ((marker . 71) . -7) ((marker . 23) . -7) ((marker . 23) . -7) nil ("    </p>
" . 24) nil ("        <%= link_to \"Read Documentation Online\", \"https://middlemanapp.com\", target: \"_blank\" %>
" . 24) nil ("    <p class=\"doc\">
" . 24) nil ("<div class=\"welcome\">
" . 24) ((marker . 23) . -22) ((marker . 23) . -22) ((marker . 23) . -22) nil ("    <% 10.times do %>
        <h1>MiddleMan Watching</h1>
    <% end %>
" . 46) 118 (t 22220 30036 0 0) nil ("
" . -18) nil (18 . 19) (t 22220 29797 0 0) nil ("    </div>
" . 46) ((marker . 23) . -11) ((marker . 23) . -11) nil ("        <%= image_tag \"middleman-logo.svg\" %>
" . 46) nil ("    <div class=\"logo\">
" . 46) (t 22220 29789 0 0) nil (315 . 319) ("	" . -315) (218 . 226) ("		" . -218) (198 . 202) ("	" . -198) (184 . 188) ("	" . -184) (148 . 156) ("		" . -148) (126 . 130) ("	" . -126) (115 . 119) ("	" . -115) (69 . 77) ("		" . -69) (46 . 50) ("	" . -46) 294 nil (282 . 283) ("  " . 282) 288 nil (191 . 193) ("    " . 191) 206 nil (174 . 175) ("  " . 174) 187 nil (163 . 164) ("  " . 163) 174 nil (133 . 135) ("      " . 133) 145 nil (114 . 115) ("  " . 114) ((marker . 23) . -2) ((marker . 23) . -2) 124 nil (106 . 107) ("  " . 106) 114 nil (66 . 68) ("    " . 66) 74 nil (46 . 47) ("  " . 46) 52 nil ("<!-- .welcome -->" . 308) nil ("<!-- .doc -->" . 301) (t 22220 29362 0 0) nil (" " . -157) nil ("i" . -158) nil ("s" . -159) (t 22220 28193 0 0) nil (" " . -18) 18 nil ("さ" . -18) ((marker . 18) . -1) nil ("m" . -19) ((marker . 18) . -1) nil ("さ" . -20) ((marker . 18) . -1) nil ("s" . -21) ((marker . 18) . -1) nil undo-tree-canary))
